{% extends "farmerhome.html" %}
{% load static %}
{% block content %}
<style>
    .addressview{
        width:50%;
        margin: auto;
        border-radius: 10px;
        border: 1px solid green;
        padding: 20px;
        text-align: center;

    }
</style>

<div class="container mt-5">
    
    {% for i in udata  %}
        
        
    <div class="addressview">
        <h5>Customer Name: {{i.name}}</h5>
        <h5>House: {{i.house}}</h5>
        <h5>City: {{i.city}}</h5>
        <h5>State: {{i.state}}</h5>
        <!-- <h5>Address: {{i.}}<h5> -->
        <h5>Phone: {{i.phone}}</h5>

    </div>
    {% endfor %}

</div>

{% endblock %}